body
{
    background-color: #303030;
    color: white;
    font-family: 'Roboto', sans-serif;
}
#container
{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
#header
{
    height: 240px;
    border-radius: 25px;
    background-color: #202020;
}
h1
{
    font-size: 100px;
    letter-spacing: 4px;
    font-weight: 700;
}
h1 > p
{
    text-align:center;
    margin-top: 0;
    color:#606060;
}
#logo
{
    float:left;
    margin-left: 0;
    padding-left: 0;
    
}
#logo > img
{   
    width:222px;
    height:206px;
    padding-top: 15px;
    padding-left: 10px;
    margin-right: 30px;
}
#nav
{
    width: 250px;
    height: 720px;
    float:left;
}
.tile
{
    height: 180px;
    text-align:center;
    font-size: 30px;
    padding-top: 30px;
    margin-bottom: 46px;
    border-radius: 25px;
    
}
.tile:hover
{
    background-color: #202020;
    border-radius: 25px;
}
#article
{
    width: 900px;
    
    float:right;
    font-size: 24px;
    background-color: #202020;
    border-radius: 25px;
    text-align: center;
}


a
{
    text-decoration: none;
    color:white;
}

.tile_socials
{
    float:left;
    height: 100px;
    width: 300px;
    text-align:center;
    padding-top: 20px;
    border-radius: 25px;
}
.tile_socials:hover
{
    background-color:#606060;
    border-radius: 25px;
}