
.icon-user:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */